Repository salute-developers/plasma-android, pull requests merged in 2025-08, with the labels that each got.

#507 fix(sdds-acore/uikit): Switch, CheckBox and RadioBox tintMode support was added.
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/Button.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/CheckBox.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/Chip.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/Counter.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/RadioBox.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/Switch.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/TextField.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/internal/CheckBoxDrawable.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/internal/RadioBoxDrawable.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/internal/SwitchDrawable.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/internal/base/Utils.kt
  sdds-core/uikit/src/main/res/values/checkable_attrs.xml
Labels: bug

#508 PLASMA-5264: Component Loader and generator for it were implemented on compose
  build-system/docs-template/compose-template/docs/components/LoaderUsage.md
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/core/compose/ComponentScaffold.kt
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/core/compose/Editors.kt
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/core/compose/MenuItem.kt
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/loader/compose/LoaderScreen.kt
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/loader/compose/LoaderUiState.kt
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/loader/compose/LoaderViewModel.kt
  playground/sandbox-core-integration/src/main/kotlin/com/sdds/playground/sandbox/core/integration/component/Component.kt
  playground/sandbox-plasma-giga-app-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/giga/app/integration/PlasmaGigaAppComposeComponents.kt
  playground/sandbox-plasma-giga-app-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/giga/app/integration/loader/PlasmaGigaAppLoaderVariationsCompose.kt
  playground/sandbox-plasma-giga-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/giga/integration/PlasmaGigaComposeComponents.kt
  playground/sandbox-plasma-giga-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/giga/integration/loader/PlasmaGigaLoaderVariationsCompose.kt
  playground/sandbox-plasma-sd-service-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/sd/service/integration/PlasmaSdServiceComposeComponents.kt
  playground/sandbox-plasma-sd-service-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/sd/service/integration/loader/PlasmaSdServiceLoaderVariationsCompose.kt
  playground/sandbox-plasma-stards-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/stards/integration/StarDsComposeComponents.kt
  playground/sandbox-plasma-stards-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/stards/integration/loader/StarDsLoaderVariationsCompose.kt
  playground/sandbox-sdds-serv-integration/src/main/kotlin/com/sdds/playground/sandbox/sdds/serv/integration/SddsServComposeComponents.kt
  playground/sandbox-sdds-serv-integration/src/main/kotlin/com/sdds/playground/sandbox/sdds/serv/integration/loader/SddsServLoaderVariationsCompose.kt
  sdds-core/plugin_theme_builder/src/main/kotlin/com/sdds/plugin/themebuilder/internal/components/ComponentDelegates.kt
  sdds-core/plugin_theme_builder/src/main/kotlin/com/sdds/plugin/themebuilder/internal/components/loader/LoaderConfig.kt
  sdds-core/plugin_theme_builder/src/main/kotlin/com/sdds/plugin/themebuilder/internal/components/loader/LoaderConfigDelegate.kt
  sdds-core/plugin_theme_builder/src/main/kotlin/com/sdds/plugin/themebuilder/internal/components/loader/compose/LoaderComposeVariationGenerator.kt
  sdds-core/testing/src/main/kotlin/com/sdds/testing/compose/loader/LoaderTestCases.kt
  sdds-core/uikit-compose/src/main/kotlin/com/sdds/compose/uikit/CircularProgressBar.kt
  sdds-core/uikit-compose/src/main/kotlin/com/sdds/compose/uikit/Loader.kt
  sdds-core/uikit-compose/src/main/kotlin/com/sdds/compose/uikit/LoaderStyle.kt
  sdds-core/uikit-compose/src/main/kotlin/com/sdds/compose/uikit/Spinner.kt
  tokens/plasma-stards-compose/gradle.properties
  tokens/plasma-stards-compose/src/main/kotlin/com/sdkit/star/designsystem/styles/loader/Loader.kt
  tokens/plasma-stards-compose/src/main/kotlin/com/sdkit/star/designsystem/styles/loader/LoaderStyles.kt
  tokens/plasma.giga.app.compose/gradle.properties
  tokens/plasma.giga.app.compose/src/main/kotlin/com/sdds/plasma/giga/app/styles/loader/Loader.kt
  tokens/plasma.giga.app.compose/src/main/kotlin/com/sdds/plasma/giga/app/styles/loader/LoaderStyles.kt
  tokens/plasma.giga.compose/gradle.properties
  tokens/plasma.giga.compose/src/main/kotlin/com/sdds/plasma/giga/styles/loader/Loader.kt
  tokens/plasma.giga.compose/src/main/kotlin/com/sdds/plasma/giga/styles/loader/LoaderStyles.kt
  tokens/plasma.sd.service.compose/gradle.properties
  tokens/plasma.sd.service.compose/src/main/kotlin/com/sdds/plasma/sd/service/styles/loader/Loader.kt
  tokens/plasma.sd.service.compose/src/main/kotlin/com/sdds/plasma/sd/service/styles/loader/LoaderStyles.kt
  tokens/sdds.serv.compose/gradle.properties
  tokens/sdds.serv.compose/src/main/kotlin/com/sdds/serv/styles/loader/Loader.kt
  tokens/sdds.serv.compose/src/main/kotlin/com/sdds/serv/styles/loader/LoaderStyles.kt
  tokens/sdds.serv.view/gradle.properties
  tokens/stylessalute.compose/gradle.properties
Labels: enhancement, compose

#512 PLASMA-5277: ButtonGroup and generator for it were implemented.
  build-system/docs-template/xml-template/docs/components/ButtonGroupUsage.md
  build-system/docs-template/xml-template/docs/components/LoaderUsage.md
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/buttongroup/vs/ButtonGroupFragment.kt
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/buttongroup/vs/ButtonGroupParametersViewModel.kt
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/core/vs/MenuItem.kt
  playground/sandbox-compose/src/main/res/values/routes.xml
  playground/sandbox-plasma-sd-service-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/sd/service/integration/PlasmaSdServiceViewComponents.kt
  playground/sandbox-plasma-sd-service-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/sd/service/integration/buttongroup/PlasmaSdServiceBasicButtonGroupVariationsView.kt
  playground/sandbox-plasma-sd-service-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/sd/service/integration/buttongroup/PlasmaSdServiceIconButtonGroupVariationsView.kt
  playground/sandbox-plasma-stards-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/stards/integration/StarDsViewComponents.kt
  playground/sandbox-plasma-stards-integration/src/main/kotlin/com/sdds/playground/sandbox/plasma/stards/integration/buttongroup/StarDsBasicButtonGroupVariationsView.kt
  playground/sandbox-sdds-serv-integration/src/main/kotlin/com/sdds/playground/sandbox/sdds/serv/integration/SddsServViewComponents.kt
  playground/sandbox-sdds-serv-integration/src/main/kotlin/com/sdds/playground/sandbox/sdds/serv/integration/buttongroup/SddsServBasicButtonGroupVariationsView.kt
  playground/sandbox-sdds-serv-integration/src/main/kotlin/com/sdds/playground/sandbox/sdds/serv/integration/buttongroup/SddsServIconButtonGroupVariationsView.kt
  playground/sandbox-stylessalute-integration/src/main/kotlin/com/sdds/playground/sandbox/stylessalute/integration/StylesSaluteViewComponents.kt
  playground/sandbox-stylessalute-integration/src/main/kotlin/com/sdds/playground/sandbox/stylessalute/integration/buttongroup/StylesSaluteBasicButtonGroupVariationsView.kt
  playground/sandbox-stylessalute-integration/src/main/kotlin/com/sdds/playground/sandbox/stylessalute/integration/buttongroup/StylesSaluteIconButtonGroupVariationsView.kt
  sdds-core/plugin_theme_builder/src/main/kotlin/com/sdds/plugin/themebuilder/internal/components/buttongroup/ButtonGroupConfigDelegate.kt
  sdds-core/plugin_theme_builder/src/main/kotlin/com/sdds/plugin/themebuilder/internal/components/buttongroup/compose/ButtonGroupComposeVariationGenerator.kt
  sdds-core/plugin_theme_builder/src/main/kotlin/com/sdds/plugin/themebuilder/internal/components/buttongroup/vs/ButtonGroupStyleGeneratorView.kt
  sdds-core/testing/src/main/kotlin/com/sdds/testing/vs/button/ButtonFactory.kt
  sdds-core/testing/src/main/kotlin/com/sdds/testing/vs/button/ButtonUiState.kt
  sdds-core/testing/src/main/res/values/components_id.xml
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/Button.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/ButtonGroup.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/internal/base/Utils.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/internal/focusselector/SelectorDrawable.kt
  sdds-core/uikit/src/main/res/values/button_attrs.xml
  sdds-core/uikit/src/main/res/values/styles_button.xml
  tokens/plasma-stards-view/src/main/theme-builder-res/values/style-dimens.xml
  tokens/plasma-stards-view/src/main/theme-builder-res/values/styles-basicbuttongroup.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/color/plasma_text_area_value_color.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/color/plasma_text_field_value_color.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values/style-dimens.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values/styles-basicbuttongroup.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values/styles-iconbuttongroup.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values/theme.xml
  tokens/sdds.serv.view/src/main/theme-builder-res/values/style-dimens.xml
  tokens/sdds.serv.view/src/main/theme-builder-res/values/styles-basicbuttongroup.xml
  tokens/sdds.serv.view/src/main/theme-builder-res/values/styles-iconbuttongroup.xml
  tokens/sdds.serv.view/src/main/theme-builder-res/values/theme.xml
  tokens/stylessalute.view/src/main/theme-builder-res/color/salute_text_area_value_color.xml
  tokens/stylessalute.view/src/main/theme-builder-res/color/salute_text_field_value_color.xml
  tokens/stylessalute.view/src/main/theme-builder-res/values/style-dimens.xml
  tokens/stylessalute.view/src/main/theme-builder-res/values/styles-basicbuttongroup.xml
  tokens/stylessalute.view/src/main/theme-builder-res/values/styles-iconbuttongroup.xml
  tokens/stylessalute.view/src/main/theme-builder-res/values/theme.xml
Labels: enhancement, xml

#513 PLASMA-5527: Changelog generation was implemented.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/prepare-android-env/action.yml
  .github/actions/preprocessing-release-changelog/action.yml
  .github/actions/preprocessing-release-changelog/groupByH2Headings.js
  .github/actions/preprocessing-release-changelog/groupByHeadingsLevel.js
  .github/actions/preprocessing-release-changelog/index.js
  .github/actions/preprocessing-release-changelog/package-lock.json
  .github/actions/preprocessing-release-changelog/package.json
  .github/actions/release-changelog/action.yml
  .github/changelog-builder-config.json
  .github/workflows/create-release-pr.yml
  .github/workflows/deploy-token-docs-common.yml
  build-system/conventions/build.gradle.kts
  build-system/conventions/src/main/kotlin/convention.docusaurus.gradle.kts
  build-system/conventions/src/main/kotlin/tasks/BuildTokenChangelogTask.kt
  build-system/conventions/src/main/kotlin/utils/ChangelogUtils.kt
  build-system/docs-template/common-template/docs/CHANGELOG.md
  build-system/docs-template/common-template/sidebars.ts
  build-system/docs-template/xml-template/sidebars.ts
Labels: enhancement, changelog-skip
