Repository salute-developers/plasma-android, pull requests merged in 2025-09, with the labels that each got.

#532 PLASMA-5738: fix(sdds-acore/uikit): Wheel selection callback was fixed.
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/internal/wheel/WheelItemView.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/internal/wheel/WheelListView.kt
Labels: bug, xml

#533 PLASMA-5761: fix(sdds-acore/uikit-compose): apply focus selector modifiers in right way
  sdds-core/uikit-compose/src/main/kotlin/com/sdds/compose/uikit/fs/FocusSelectorSettings.kt
Labels: bug, compose

#524 test(sdds-acore/testing): Compose drawer screenshot tests
  sdds-core/testing/src/main/kotlin/com/sdds/testing/compose/drawer/DrawerTestCases.kt
  tokens/plasma-stards-compose/screenshots-compose/testDrawerCloseIconAbsolute_dark.png
  tokens/plasma-stards-compose/screenshots-compose/testDrawerHasBackgroundTopEndFooterHasOverlayPeekOffSet_dark.png
  tokens/plasma-stards-compose/screenshots-compose/testDrawerHasPeakOffSet_dark.png
  tokens/plasma-stards-compose/screenshots-compose/testDrawerNoBackgroundBottomEnd_dark.png
  tokens/plasma-stards-compose/screenshots-compose/testDrawerNoBackgroundEndStartHeaderFooterHasClose_dark.png
  tokens/plasma-stards-compose/screenshots-compose/testDrawerNoBackgroundStartHeaderHasOverlay_dark.png
  tokens/plasma-stards-compose/src/test/kotlin/com/sdkit/star/designsystem/ComposeDrawerScreenshotTest.kt
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerCloseIconAbsolute_dark.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerCloseIconAbsolute_light.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerCloseInnerMStartHeader_dark.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerCloseInnerMStartHeader_light.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerCloseNoneEndStartHeaderFooter_dark.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerCloseNoneEndStartHeaderFooter_light.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerCloseOuterMShadowTopEndFooterHasOverlay_dark.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerCloseOuterMShadowTopEndFooterHasOverlay_light.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerHasPeakOffSet_dark.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerHasPeakOffSet_light.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerNoShadowBottomStart_dark.png
  tokens/plasma.giga.app.compose/screenshots-compose/testDrawerNoShadowBottomStart_light.png
  tokens/plasma.giga.app.compose/src/test/kotlin/com/sdds/plasma/giga/app/ComposeDrawerScreenshotTest.kt
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerCloseIconAbsolute_dark.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerCloseIconAbsolute_light.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerCloseInnerMStartHeader_dark.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerCloseInnerMStartHeader_light.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerCloseNoneEndStartHeaderFooter_dark.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerCloseNoneEndStartHeaderFooter_light.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerCloseOuterMShadowTopEndFooterHasOverlay_dark.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerCloseOuterMShadowTopEndFooterHasOverlay_light.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerHasPeakOffSet_dark.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerHasPeakOffSet_light.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerNoShadowBottomStart_dark.png
  tokens/plasma.sd.service.compose/screenshots-compose/testDrawerNoShadowBottomStart_light.png
  tokens/plasma.sd.service.compose/src/test/kotlin/com/sdds/plasma/sd/service/ComposeDrawerScreenshotTest.kt
  tokens/sdds.serv.compose/screenshots-compose/testDrawerCloseIconAbsolute_dark.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerCloseIconAbsolute_light.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerCloseInnerMStartHeader_dark.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerCloseInnerMStartHeader_light.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerCloseNoneEndStartHeaderFooter_dark.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerCloseNoneEndStartHeaderFooter_light.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerCloseOuterMShadowTopEndFooterHasOverlay_dark.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerCloseOuterMShadowTopEndFooterHasOverlay_light.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerHasPeakOffSet_dark.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerHasPeakOffSet_light.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerNoShadowBottomStart_dark.png
  tokens/sdds.serv.compose/screenshots-compose/testDrawerNoShadowBottomStart_light.png
  tokens/sdds.serv.compose/src/test/kotlin/com/sdds/serv/ComposeDrawerScreenshotTest.kt
Labels: changelog-skip

#540 PLASMA-5811: feat(sdds-acore/uikit-compose): Compose button improvement
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/buttons/compose/BasicButtonScreen.kt
  playground/sandbox-compose/src/main/kotlin/com/sdds/playground/sandbox/buttons/compose/IconButtonScreen.kt
  sdds-core/uikit-compose/src/main/kotlin/com/sdds/compose/uikit/Button.kt
  sdds-core/uikit-compose/src/main/kotlin/com/sdds/compose/uikit/internal/BaseButton.kt
  sdds-core/uikit-compose/src/main/kotlin/com/sdds/compose/uikit/internal/common/Modifiers.kt
Labels: enhancement, compose

#546 PLASMA-5821: Typography tokens were updated.
  tokens/plasma.sd.service.compose/gradle.properties
  tokens/plasma.sd.service.compose/src/main/kotlin/com/sdds/plasma/sd/service/theme/PlasmaSdServiceTypography.kt
  tokens/plasma.sd.service.compose/src/main/kotlin/com/sdds/plasma/sd/service/tokens/TypographyTokens.kt
  tokens/plasma.sd.service.view/gradle.properties
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values-w560dp/text-appearances.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values-w960dp/text-appearances.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values/dimens.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values/text-appearances.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values/theme.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values/typography-attributes.xml
  tokens/plasma.sd.service.view/src/main/theme-builder-res/values/typography.xml
Labels: enhancement, xml, compose

#550 PLASMA-5751: PLASMA-5752: TextSkeleton text metrics calculation fixed
  sdds-core/uikit-compose/src/main/kotlin/com/sdds/compose/uikit/TextSkeleton.kt
  sdds-core/uikit-compose/src/main/kotlin/com/sdds/compose/uikit/internal/Utils.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/FrameLayout.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/ShimmerLayout.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/TextSkeleton.kt
  sdds-core/uikit/src/main/res/values/skeleton_attrs.xml
Labels: bug, xml, compose

#556 build: summary.json changelog url was fixed.
  build-system/conventions/src/main/kotlin/tasks/ProjectSummaryTask.kt
  tokens/summary.json
Labels: changelog-skip

#557 PLASMA-5824: test(sdds-acore/testing): Added tabs and icon tabs screenshot tests
  sdds-core/testing/src/main/kotlin/com/sdds/testing/vs/tabs/TabsFactory.kt
  sdds-core/testing/src/main/kotlin/com/sdds/testing/vs/tabs/TabsTestCases.kt
  sdds-core/uikit/src/main/kotlin/com/sdds/uikit/Tabs.kt
  tokens/sdds.serv.view/screenshots/testIconTabsLHorizontalAmountFiveHasActionHasDividerScroll_dark.png
  tokens/sdds.serv.view/screenshots/testIconTabsLHorizontalAmountFiveHasActionHasDividerScroll_light.png
  tokens/sdds.serv.view/screenshots/testIconTabsMVerticalAmountFiveHasDividerExtraStretch_dark.png
  tokens/sdds.serv.view/screenshots/testIconTabsMVerticalAmountFiveHasDividerExtraStretch_light.png
  tokens/sdds.serv.view/screenshots/testIconTabsSHorizontalAmountFiveHasDividerActionIfRoom_dark.png
  tokens/sdds.serv.view/screenshots/testIconTabsSHorizontalAmountFiveHasDividerActionIfRoom_light.png
  tokens/sdds.serv.view/screenshots/testIconTabsXsVerticalAmountFiveHasActionHasDividerScrollExtra_dark.png
  tokens/sdds.serv.view/screenshots/testIconTabsXsVerticalAmountFiveHasActionHasDividerScrollExtra_light.png
  tokens/sdds.serv.view/screenshots/testTabsDisabled_dark.png
  tokens/sdds.serv.view/screenshots/testTabsDisabled_light.png
  tokens/sdds.serv.view/screenshots/testTabsH1AmountFiveValueNoIconLabelHasDividerScroll_dark.png
  tokens/sdds.serv.view/screenshots/testTabsH1AmountFiveValueNoIconLabelHasDividerScroll_light.png
  tokens/sdds.serv.view/screenshots/testTabsH2AmountTwoValueNoIconLabelStretch_dark.png
  tokens/sdds.serv.view/screenshots/testTabsH2AmountTwoValueNoIconLabelStretch_light.png
  tokens/sdds.serv.view/screenshots/testTabsH3AmountOneIconStartValueLabelIfRoom_dark.png
  tokens/sdds.serv.view/screenshots/testTabsH3AmountOneIconStartValueLabelIfRoom_light.png
  tokens/sdds.serv.view/screenshots/testTabsH4AmountFiveIconEndValueLabelHasActionScroll_dark.png
  tokens/sdds.serv.view/screenshots/testTabsH4AmountFiveIconEndValueLabelHasActionScroll_light.png
  tokens/sdds.serv.view/screenshots/testTabsH5AmountHundredIconEndValueLabelHasActionIfRoom_dark.png
  tokens/sdds.serv.view/screenshots/testTabsH5AmountHundredIconEndValueLabelHasActionIfRoom_light.png
  tokens/sdds.serv.view/screenshots/testTabsLHorizontalHasDividerScroll_dark.png
  tokens/sdds.serv.view/screenshots/testTabsLHorizontalHasDividerScroll_light.png
  tokens/sdds.serv.view/screenshots/testTabsLVerticalAmountFiveStretch_dark.png
  tokens/sdds.serv.view/screenshots/testTabsLVerticalAmountFiveStretch_light.png
  tokens/sdds.serv.view/screenshots/testTabsMVerticalIconStartNoLabelValueHasActionScrollExtra_dark.png
  tokens/sdds.serv.view/screenshots/testTabsMVerticalIconStartNoLabelValueHasActionScrollExtra_light.png
  tokens/sdds.serv.view/screenshots/testTabsSHorizontalAmountFiveIconEndHasDividerStretch_dark.png
  tokens/sdds.serv.view/screenshots/testTabsSHorizontalAmountFiveIconEndHasDividerStretch_light.png
  tokens/sdds.serv.view/screenshots/testTabsXsHorizontalAmountTenHasDividerIfRoomExtra_dark.png
  tokens/sdds.serv.view/screenshots/testTabsXsHorizontalAmountTenHasDividerIfRoomExtra_light.png
  tokens/sdds.serv.view/src/test/kotlin/com/sdds/serv/ViewSystemTabsScreenshotTest.kt
Labels: changelog-skip

#559 PLASMA-5905: feat(sdds-alibs/plasma-star-ds): Add extensions for scaled dp and sp.
  tokens/plasma-stards-compose/src/main/kotlin/com/sdkit/star/designsystem/DimensionUtils.kt
  tokens/plasma-stards-compose/src/main/res/values/dimens.xml
Labels: enhancement, compose
